<div   class="container-fluid">
    <div class="row mt-5">
        <div class="col-6 col-md-4 col-lg-2">
            {{field1}}
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            {{field2}}
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            {{field3}}
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            {{field4}}
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            {{field5}}
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            {{field6}}
        </div>
        <div class="col-6 col-md-4 col-lg-2 mt-lg-2">
            {{field7}}
        </div>
    </div>
</div>
<div *ngIf ="!gettingValue" class="container-fluid ">
    <div class="row">
        <div class="col-12 text-center">
            Getting Value....
        </div>
    </div>
</div>